@charset "UTF-8";

body {
    background: #7A8498;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#filter-form {
	padding: 20px 0;
}

#list img.media-object{
	width: 120px;
	height: 160px;
}

#list li.media {
	min-height: 160px;
	border-bottom: 1px solid #eeeeee;
}
