<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="bootstrap-3.0.1/css/bootstrap.min.css" rel="stylesheet">
<link href="fancybox/jquery.fancybox.css?v=2.1.4" rel="stylesheet" type="text/css" media="screen" />
<link href="main/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">天下统一</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" title="天下统一图鉴">天下统一图鉴</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav">
               <li class=""><a href="illust.html">天下统一卡面查看</a></li>
           </ul>
       </div>
    </div>
</div>
<div class="container">
<div id="filter-form" class="form-inline" role="form">
<div class="form-group">
    <label class="sr-only" for="region">region</label>
    <select class="form-control " id="region">
    </select>
</div>
<div class="form-group">
    <label class="sr-only" for="pref">pref</label>
    <select class="form-control " id="pref">
    </select>
</div>
<div class="form-group">
    <label class="sr-only" for="type">type</label>
    <select class="form-control " id="type">
    </select>
</div>
<div class="form-group">
    <label class="sr-only" for="rarilites">rarilites</label>
    <select class="form-control " id="rarilites">
    </select>
</div>
<div class="form-group">
    <button id="clear">重置搜索</button>
</div>
</div>
<ul id="list" class="media-list"></ul>
</div>
<script type="text/javascript" src="jquery/jquery-1.9.1.js"></script>
<script type="text/javascript" src="bootstrap-3.0.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="fancybox/jquery.fancybox.js?v=2.1.4"></script>
<script type="text/javascript" src="tmpl/tmpl.min.js"></script>
<script type="text/javascript" src="card.json"></script>
<script type="text/javascript">
$(function(){
    var filterdata = {};

    var filter = function(list, prop, value){
        if(value == '') {
            return list.slice();
        }
        var filt = [];
        $.each(list, function(index, element){
            if(element[prop] == value) {
                filt.push(element);
            }
        });
        return filt;
    }
    
    var refresh = function(render, filterdata){
        var $list = $('#list').empty();

        filterdata.region = $('#region').val();
        if(filterdata.region == null) {
        	filterdata.region = '';
        }
        filterdata.pref = $('#pref').val();
        if(filterdata.pref == null) {
            filterdata.pref = '';
        }
        filterdata.type = $('#type').val();
        if(filterdata.type == null) {
            filterdata.type = '';
        }
        filterdata.rarilites = $('#rarilites').val();
        if(filterdata.rarilites == null) {
            filterdata.rarilites = '';
        }
        
        render = filter(render, 'region', filterdata.region);
        render = filter(render, 'pref', filterdata.pref);
        render = filter(render, 'type', filterdata.type);
        render = filter(render, 'rarilites', filterdata.rarilites);

        var region = [];
        var pref = [];
        var type = [];
        var level = [];
        var rarilites = [];
        $.each(render, function(index, element){
            if(region.indexOf(element.region) == -1){
            	region.push(element.region);
            }
            if(pref.indexOf(element.pref) == -1){
            	pref.push(element.pref);
            }
            if(type.indexOf(element.type) == -1){
            	type.push(element.type);
            }
            if(rarilites.indexOf(element.rarilites) == -1){
            	rarilites.push(element.rarilites);
            }
        });
        
        $('#region').empty().append(tmpl('tmpl-option', {render: region})).val(filterdata.region);
        $('#pref').empty().append(tmpl('tmpl-option', {render: pref})).val(filterdata.pref);
        $('#type').empty().append(tmpl('tmpl-option', {render: type})).val(filterdata.type);
        $('#rarilites').empty().append(tmpl('tmpl-option', {render: rarilites})).val(filterdata.rarilites);
        
        if(filterdata.region == '' &&
        		filterdata.pref == '' &&
        		filterdata.type == '' &&
                filterdata.rarilites == ''){
        	return;
        }
        
        var html = tmpl('tmpl-listbody-item', {render: render});
        $list.append(html);
    }
    $('select').on('change', function(){
        refresh(cards.slice(), filterdata);
    });
    
    $('#clear').click(function(){
    	$('select').val('');
        refresh(cards.slice(), filterdata);
    });

    refresh(cards.slice(), filterdata);
});
</script>
<script type="text/x-tmpl" id="tmpl-option">
<option value="">------</option>
{% for (var i=0; i<o.render.length; i++) { %}
<option value="{%=o.render[i]%}">
    {%=o.render[i]%}
</option>
{% } %}
</script>
<script type="text/x-tmpl" id="tmpl-listbody-item">
{% for (var i=0; i<o.render.length; i++) { %}
<li class="media">
    <div class="pull-right">
        {% for (var j=0; j<o.render[i].ill.length; j++) { %}
        {% if (o.render[i].ill[j] != '') { %}
        <a class="pull-left" href="http://stat100.ameba.jp/tnk47/ratio20/illustrations/card/{%=o.render[i].ill[j]%}.jpg" data-lightbox="{%=o.render[i].ill[j]%}" title="{%=o.render[i].name%}">
            <img class="media-object" src="http://stat100.ameba.jp/tnk47/ratio10/illustrations/card/thumb/{%=o.render[i].ill[j]%}_thumbCard.jpg" alt="">
        </a>
        {% } %}
        {% } %}
    </div>
    <div class="media-body">
        <h4 class="media-heading">{%=o.render[i].name%}<small>{%=o.render[i].kana%}</small></h4>
        <p>
            <strong>所属:</strong>{%=o.render[i].region%}/{%=o.render[i].pref%}<br>
            <strong>属性:</strong>{%=o.render[i].type%}<br>
            <strong>稀有度:</strong>{%=o.render[i].rarilites%}<br>
        </p>
    </div>
</li>
{% } %}
</script>
</body>
</html>
